.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 8px;
}

.tag {
  border-radius: 24px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-background);
  padding: 0.1rem 0.6rem;
  margin-right: 8px;
}