.input {
  width: 100%;
  border: none;
  border-radius: 24px;
  color: var(--color-primary);
  background-color: var(--color-surface);
  padding: 0.8rem 2rem;
  outline-color: var(--color-primary);
  height: 40px;
}

.input::placeholder {
  color: var(--color-primary);
}
