:root {
  --color-primary: #116193;
  --color-secondary: #00E8E4;
  --color-background: #F5F5F5;
  --color-surface: #EBEBEB;
  --color-text: #8D8D8D;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: var(--font-lato);
  color: var(--color-text);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}