.wrapper {
  display: flex;
  padding: 0 60px;
}

.wrapper-content {
  display: flex;
  flex-direction: column;
}

.wrapper-search {
  display: flex;
  padding: 50px 0;
}

.wrapper-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
