.wrapper {
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.wrapper-content {
  display: flex;
  flex-direction: column;
}

.wrapper-search {
  display: flex;
  padding: 48px 0;
}

.wrapper-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    padding: 0 8px;
  }

  .wrapper-search {
    padding: 28px 0;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper-search {
    padding: 24px 0;
  }

  .wrapper-cards {
    gap: 16px;
  }
}
